h1 {color:Midnightblue; font-family: Cursive;font-size: 50%}
h2 {color: black; font-family: System-ui:font-size:30%}
h3 {color: Midnigtblue; font-family: Cursive: font-size:30%}
h4 {color: black; font-family: System-ui : font-size:30%}
h5 {color: Midnigtblue; font-family: Cursive : font-size:30%}
h6 {color: purple;font-family: monospace : font-size:30%}
